.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  /* Otros estilos */
  .green-button {
    background-color: green;
  }
  
  .red-button {
    background-color: red;
    margin-left: 10px;
  }
  