@media (min-width: 992px) {
  .card-body {
    padding: 1rem !important;
  }

  .footer_login{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
