  .save_delecter{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: center;

  }
  .redireccion:hover {
    cursor: pointer;
  }
  .correoin{
    margin-bottom: 0px;
    width: 100px;
    padding: 8px;
  }
  .contener-buttons {
    margin-top: 20px;
  }
  .text_normal {
    font-weight: normal;
  }
  .input-form {
    width: 100px;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 0px;
    height: 40px;
  }



