.AgregarPA{
    margin-bottom: 0px !important;
}

.item-paginador{
    width: 50px !important;
}
@media (width <= 1440px) {
    .btn-add{
        width: 100px;
        height: 70px;
    }
    .btn-add-info{
        width: 100px;
        height: 70px;
    }
    .AgregarPA{
        display: none;
    }
}