.view_esp{
    width: 100%;
    height: auto;
    padding: 5%;
}


table {
    border-collapse: collapse;
    width: 80%;
    background-color: white;
  }
  
  th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  th {
    font-weight: bold;
  }
  .editar{
    width: 60%;
  }