/*Inputs customizase*/
.filtros_propetario{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.custom-input {
  display: grid;
  width: 100%;
  max-width: 18rem; /* Ajusta el ancho según tus necesidades */
  grid-template-columns: auto;
}

.custom-input label {
  font-size: 1rem;
  font-weight: bold;
}

.custom-input input {
  width: 90%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5%;
  outline-color: rgb(9, 56, 212);
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.custom-input input[type="date"] {
  height: 2.5rem;
  appearance: none;
  -webkit-appearance: none; /* Elimina el estilo predeterminado de Safari/Chrome */
}

/*Titulo*/
.tittle_propetario{
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Tables View Property*/
.view_esp{
  display: inline-table;
    width: 100%;
    height: 38em;
    padding: 5%;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}
table {
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    font-size:large;
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  th {
    font-weight: bold;
  }
  .editar{
    width: 60%;
  }
  .btn-warning{
    width: 100%;
  }
  .editar-icon , .btn-warning{
    color: #ffffff;
  }