/* Inputs customizase */
.filtros_propetario {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  margin: 2% 0;
  box-sizing: border-box;
}

.custom-input {
  display: grid;
  width: 100%;
  max-width: 18rem; /* Ajusta el ancho según tus necesidades */
  grid-template-columns: auto;
  margin: 0 10px; /* Espaciado entre los inputs */
}

.custom-input select {
  width: 90%;
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 5%;
  outline-color: rgb(9, 56, 212);
  box-sizing: border-box;
  height: 2.0rem; /* Ajusta la altura según tus necesidades */
}

.custom-input label {
  font-size: 1rem;
  font-weight: bold;
}

.custom-input input {
  width: 100%; /* Ajuste para ocupar todo el ancho del contenedor */
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5%;
  outline-color: rgb(9, 56, 212);
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.custom-input input[type="date"] {
  height: 2.0rem;
  appearance: none;
  -webkit-appearance: none; /* Elimina el estilo predeterminado de Safari/Chrome */
}

/*Titulo*/
.title_view {
  display: flex;
  width: 100%;

  justify-content: flex-start; /* Centrar el contenido horizontalmente */
}

.tittle_propetario {

  margin-bottom: 5%;
}

/* CSS modificado */
.view_esp {
  width: 100%;
  height: auto;
}

table {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  font-size: 0.9rem;
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}






