.selecIn button{
    width: 100%;

}
#selectInmue{
    background-color: #ffffff;
    width: auto;
}
.selecIn{
    background-color: #ffffff;
    margin-right: 2%;
}
.flecha1{
    width: 20px;
}

.nuevo1{
    background-color: #ffffff;
}