* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  padding: 0 16px;
  background: #ffffff;
  transition: width 0.4s;
}
.info-side{
  position: sticky;
  top: 17%;
  gap: 8px;
}




.sidebar-logo {
  height: 20px;
}

.sidebar button {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 6px 6px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0 18px;
  color: #000000;
  background-color: white;
  transition: background 0.3s;
}

.sidebar button span:nth-child(2) {  
  flex: 1 1 auto;
}

.sidebar button:is(.active, :hover) {
  background: #FFF900;
  color: #000000;
}

.sidebar button span {
  transition: 0.3s;
}

.sidebar button.active > span:nth-child(3) {
  rotate: -180deg;
}

.sidebar button:not(.active):hover {
  background: #ffffff;
}

.sub-nav button.active::before {
  background: #e1ecff;
}

.sub-nav {
  overflow: hidden;
  transition: 0.5s;
}

.sub-nav button {
    background: #FFF900;
  padding-left: 54px;
}
.elemento {
  margin: 20px;
}
.sub-nav button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  translate: 0 -50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.sub-nav-inner button {
  height: 30px;
  border-radius: 0%;
}
.material-symbols-outlined {
  font-size: 22px;
}