.nav-link{
  padding-left: 0 !important;
}
.nav-link.active {
  font-weight: 600 !important;
  background-color: rgba(255, 255, 0, 0.603) !important;
  text-shadow: 1px  0px 0px rgba(0, 0, 0, 0.726),
  0px  1px 0px  rgba(0, 0, 0, 0.726),
 -1px  0px 0px  rgba(0, 0, 0, 0.726),
  0px -1px 0px  rgba(0, 0, 0, 0.726);
}
