<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Inmuebles</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
</head>
<body>


    <!-- <div class="Contener">
    <div class="Contener-botons">
        <div class="Botons-principal">
            <img class="Ico" src="../assets/recibo.png" alt="">
            <h3>Recibo</h3>
        </div>
        <div class="Botons-principal">
            <img class="Ico" src="../assets/informe.png" alt="">
            <h3>Informe</h3>
        </div>
        <div class="Botons-principal">
            <img class="Ico" src="../assets/bd gastos.png" alt="">
            <h3>Datos Gastos</h3>
        </div>
        <div class="Botons-principal">
            <img class="Ico" src="../assets/bd recibos.png" alt="">
            <h3>Datos Recibos</h3>
        </div>
        <div class="Botons-principal">
            <img class="Ico" src="../assets/arrendatario.png" alt="">
            <h3>Datos Arrendatario</h3>
        </div>
        <div class="Botons-principal">
            <img class="Ico" src="../assets/propietario.png" alt="">
            <h3>Datos Propietario</h3>
        </div>
        <div class="Botons-principal">
            <img class="Ico" src="../assets/Inmueble.png" alt="">
            <h3>Datos Inmueble</h3>
        </div>
    </div>
</div> -->

</body>
</html>