<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/forms.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/css">
    <title>Registro Arrendatario</title>
</head>
<body>
    <div class="contener-form">
        <h1>Arrendatario</h1>
        <div class="contenido-form">
            <section class="campos">
                <p>Nombre Arrendatario</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Teléfono Arrendatario</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Nombre Codeudor</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Teléfono Codeudor</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Valor del Arriendo</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Valor Deposito</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Fecha inicio Contrato</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Fecha fin Contrato</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <section class="campos">
                <p>Meses alquiler</p>
                <input class="in-text" type="text" name="Nombre" id="">
            </section>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            <a href="../index.html">Pruebaaaaaaaa</a>
        </div>
    </div>
</body>
</html>