.contener-home {
  width: 100%;
  padding: 2%;
  background-color: #d9d9d9;
  margin: 2% 2% 2% 0;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contener-home-a {
  width: 100%;
  max-width: 1300px;
  padding: 2%;
  background-color: #d9d9d9;
  margin: 2% 2% 2% 0;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo-img {
  width: 75%;
}
.login {
  width: 100%;
}
.conten-login {
  width: 50%;
}
.tittle_relative {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem; /* Ajusta el margen según sea necesario */
  z-index: 1;
}
