
.logo-img {
  width: 75%;
}
.login {
  width: 100%;
}
.conten-login {
  width: 50%;
}


.contener-home{
    width: 100%;
    padding: 2%;
    background-color: #ffffff;
    margin: 2% 2% 2% 0;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

.logo-img{
    width: 75%;
}
.login{    
    width: 100%;
}
.conten-login{
    width: 50%;
}

/* Navbar.css */
.navbar {
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  
  .visible {
    height: 200px; /* Altura deseada cuando está visible */
  }
  
  .arrow {
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Otros estilos para tu Navbar según tus necesidades */
  
