
.Contener-botons{
    width: min-content;
    display: grid;
    grid-template-columns: repeat(3 , min-content);
    column-gap: 20px;
    row-gap: 20px;
    height: min-content;
}
.Botons-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    padding: 10px;
    box-shadow: 0px 5px 5px gray;
    color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
}
.Botons-principal:hover {
    cursor: pointer;
    
}
.title {
    font-size: 20px;
    text-align: center;
}

.Ico{
    width: 90px;
    margin-bottom: 20px;
}
#Arrendatario { 
    background-color: #005A6D ;
}
#Propietario {
    background-color: #812E00 ;
}
#Inmueble {
    background-color: #373734 ;
}
#Gastos {
    background-color: #1B0066 ;
}
#Recibo {
    background-color: #5C2424 ;
}
#Informe {
    background-color: #726D00 ;    
}
.Contener {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.img-logo {
width: 200px;
}