/* Estilos para el tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nav-link{
  padding-left: 0 !important;
}

.nav-link.active {
  font-weight: 600 !important;
  background-color: rgba(255, 255, 0, 0.603) !important;
  text-shadow: 1px  0px 0px rgba(0, 0, 0, 0.726),
  0px  1px 0px  rgba(0, 0, 0, 0.726),
 -1px  0px 0px  rgba(0, 0, 0, 0.726),
  0px -1px 0px  rgba(0, 0, 0, 0.726);
}

.nav-item {
  height: auto !important;
}

.Links_Icons{
  font-size: 1rem;
}

@media (width <= 1260px) {
  .sliderbard {
    width: 80px !important; /* Ajusta el ancho automáticamente */
  }
  .Links_Icons{
    display: none;
  }
  .sliderbard .fs-4,
  .sliderbard .text-start {
    display: none; /* Oculta el nombre y el rol */
  }
  .sliderbard hr {
    display: none; /* Oculta las líneas divisorias */
  }
  .sliderbard .nav-link {
    padding: 10px; /* Ajusta el espacio alrededor de los iconos */
    text-align: start; /* Centra el texto debajo de los iconos */
  }
  .sliderbard .nav-link strong {
    display: none; /* Oculta el texto "Cerrar Sesión" */
  }
  .sliderbard .modal-body {
    text-align: center; /* Centra el texto dentro del cuerpo del modal */
  }
  
}
