

.nav-link{
  padding-left: 0 !important;
}

.nav-link.active {
  font-weight: 600 !important;
  background-color: rgba(255, 255, 0, 0.603) !important;
  text-shadow: 1px  0px 0px rgba(0, 0, 0, 0.726),
  0px  1px 0px  rgba(0, 0, 0, 0.726),
 -1px  0px 0px  rgba(0, 0, 0, 0.726),
  0px -1px 0px  rgba(0, 0, 0, 0.726);
}

.nav-item {
  height: 50px !important;
}

.Links_Icons{
  font-size: 0.9rem;
}

@media (width <= 1440px) {
  .sliderbard {
    width: 70px !important; /* Ajusta el ancho automáticamente */
  }
  .Links_Icons{
    display: none;
  }
  .sliderbard .fs-4,
  .sliderbard .text-start {
    display: none; /* Oculta el nombre y el rol */
  }
  .sliderbard hr {
    display: none; /* Oculta las líneas divisorias */
  }
  .sliderbard .nav-link {
    padding: 10px; /* Ajusta el espacio alrededor de los iconos */
    text-align: center; /* Centra el texto debajo de los iconos */
  }
  .sliderbard .nav-link strong {
    display: none; /* Oculta el texto "Cerrar Sesión" */
  }
  .sliderbard .modal-body {
    text-align: center; /* Centra el texto dentro del cuerpo del modal */
  }
  .opcioness{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
