
.save_deleter{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: center;
}
.formSelect{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    height: 45px;
}