  .save_delecter{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: center;
  }
  #correoin{
    margin-bottom: 12px;
  }
  .contener-buttons {
    margin-top: 20px;
  }
  .text_normal {
    font-weight: normal;
  }
  .input-form {
    width: 100px;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 40px;
  }